html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 110%;
}

body {
  background-color: rgb(208, 235, 51);
  font-family: "Signika Negative", sans-serif;
  width: 100%;
  text-align: center;
}
.title {
  color: rgba(86, 186, 217);
  font-size: 4rem;
  padding: 2rem;
}
h2 {
  color: greenyellow;
  font-size: 100%;
  width: 100%;
}
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.row {
  width: 25%;
}
.title {
  transition: all 0.5s ease-in-out;
}
.animal-img {
  width: 100%;
  height: 80%;
}
.animal {
  background-color: rgb(207, 173, 87);
  padding: 2rem;
  border: 0.4rem solid rgb(255, 235, 120);
  box-shadow: 1.5rem 1.5rem 1.5rem black;
  box-sizing: border-box;
  -webkit-animation: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 3rem;
  height: 20rem;
}
.title:hover {
  transform: scale(1.2);
}
.animal:hover {
  transform: scale(1.1);
  outline: 0.5rem solid rgb(0, 0, 239);
}

.row:hover .animal:not(:hover) {
  transform: scale(0.9);
  opacity: 0.3;
}

@media screen and (max-width: 620px);
