html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 110%;
}

body {
  background-color: cyan;
  font-family: "Signika Negative", sans-serif;
  width: 100%;
}
h1 {
  color: gold;
  font-size: 45px;
  text-align: center;
  padding: 2rem;
}
.animal-img {
  width: 100%;
}
h2 {
  color: skyblue;
  font-size: 100%;
  text-align: center;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}
.animals {
  background-color: white;
  padding: 2rem;
  border: 0.4rem solid tomato;
  width: 25%;
  margin-bottom: 3%;
  box-shadow: 10px 10px 10px black;
  box-sizing: border-box;
  position: absolute;
}

@media screen and (max-width: px)