html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
}

body {
  background-color: coral;
  font-family: "Comfortaa", cursive;
  font-family: "Signika Negative", sans-serif;
}
h1 {
  color: darkred;
  font-size: 45px;
  text-align: center;
  padding: 20px;
}
img {
  height: 200px;
  width: 400px;
}
h2 {
  color: green;
  font-size: 30px;
}
.animals {
  background-color: white;
  padding: 20px;
  border: 8px solid navy;
  width: 25%;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 10px 10px 10px black;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
